<% include ../partials/header %>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Domain Monitor <a class="add-new btn btn-primary" href="/dashboard/new">Add New Domain <i class="fa fa-plus"></i></a></h1>
        <div class="table-responsive">
          <table id="domain-list" class="table table-striped">
            <thead>
              <tr>
                <th>Domain Name</th>
                <th>Created Date</th>
                <th>Last Updated Date</th>
                <th>Expiry Date</th>
                <th>SSL?</th>
              </tr>
            </thead>
            <tbody>
              <% user.domains.forEach(function(domain) { %>
                <tr>
                  <td><%= domain.domain %></td>
                  <td><%= domain.creationDate %></td>
                  <td><%= domain.lastUpdated %></td>
                  <td><%= domain.expiryDate %></td>
                  <td>Yes</td>
                  <td><a class="btn btn-primary" href="/dashboard/<%= domain._id %>/edit">Edit</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>